@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "SendEmail";
}

@if(ViewBag.msg != null)
{
    <div class="alert alert-success" >@ViewBag.msg</div>
}
@using(Html.BeginForm()){
    <div class="input-group">
        <input type="text" name="useremail" class="form-control" />
        <div class="input-group-btn">
            <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-send"></i>
            </button>
        </div>
    </div>
}