@model ForumProject.Models.UsersModel

@{
    ViewData["Title"] = "SignUp";
}
<style>
.loginPage {
        box-sizing: border-box;
        position: relative;
        background: #559FE4;
        margin: auto;
    }
    .logo {
        position: absolute;
        width: 74px;
        height: 69px;
        left: 0;
        top: 0;
    }

    .conneKtForum {
        position: absolute;
        width: 180px;
        height: 29px;
        top: 24px;
        left: 74px;
        font-family: 'Garamond';
        font-weight: 700;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #000000;
    }

    .loginImg {
        position: absolute;
        width: 605px;
        height: 455px;
        top: 24%;
        right: 5%; /* Position the image to the right of the screen */
        mix-blend-mode: color-burn;
        background: url('~/css/img1.png');
        transform: none; /* Reset the previous transform */
    }


    .logBox {
        position: absolute;
        width: 442.76px;
        height: fit-content;
        top: 69px;
        left: 8%;
        background: #EEE2E2;
        border-radius: 27px;
        transform: rotate(-0.05deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        display: flex;

    }

    .logintoyourAccount {
        text-align: center;
        font-family: 'Garamond';
        font-weight: 800;
        font-size: 24px;
        line-height: 26px;
        color: #2D0F6A;
        margin-left: 28px;
    }

    .control-label {
        font-family: 'Garamond';
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #2D0F6A;
    }

    .form-control {
        width: 100%;
        height: 43px;
        background: #F9f1f1;
        border-radius: 13px;
        margin-bottom: 20px;
    }

    .loginButton {
        width: 112px;
        height: 40px;
        background: #7995DF;
        border-radius: 7px;
        color:aliceblue;
        font-family:'Times New Roman', Times, serif;
        font-size:18px;
        margin-top:20px;
        margin-left:35%;
        align-self:center;
    }

    .loginButton:hover{
        background-color:white;
        color:black;
    }

    .register {
        font-family: 'Garamond';
        font-style: italic;
        font-weight: 600;
        font-size: 22px;
        line-height: 29px;
        color: #3E1261;
        align-self: center;
    }

</style>
<body class="loginPage">
    <img src="~/css/logo.png" class="logo" />
    <p class="conneKtForum">ConneKt Forum</p>

    <br />
    <br />
    <br />
    <div class="">
        <form asp-action="SignUp" class="logBox">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="logintoyourAccount">Sign Up a new Account</p>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            @Html.LabelFor(m => m.securityQn, new { @class = "control-label" })
            <div class="col-md-20">
                @Html.DropDownListFor(m => m.securityQn, new SelectList(
                new List<SelectListItem>
                {
                new SelectListItem { Text = "What is your nickname?", Value = "motherMaidenName" },
                new SelectListItem { Text = "What is your favorite color?", Value = "favoriteColor" },
                new SelectListItem { Text = "What is the name of your first pet?", Value = "firstPetName" }
                }, "Value", "Text"), "Select a security question", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.securityQn, "", new { @class = "text-danger" })
            <div class="form-group">
                <label asp-for="securityAns" class="control-label"></label>
                <input asp-for="securityAns" class="form-control" />
                <span asp-validation-for="securityAns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SignUp" class="loginButton" />
            </div>
            <br />
                <a asp-action="Login" asp-controller="Login" class="register"> Have an Account</a>
            </form>
        </div>
    <div class="image">
        <img class="loginImg" src="~/css/img1.png" />
    </div>
        </body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
